[Unit]
Description=Button listener to switch back the network configuration as being an access point and at the same time shutdown the system

[Service]
WorkingDirectory=/home/pi/Desktop/wifi-conn-web-app
ExecStart=/usr/bin/python button_listener.py
User=pi

[Install]
WantedBy=multi-user.target
