<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>{% block title %}{% endblock title %}</title>
        <!-- Boostrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
